.skill
  .skill-title #{resume.skill.title}
  .skill-content
    each listItem in resume.skill.list
      .skill-item #{listItem}
.skill-drawing
  .skill-drawing-top
    #drawing  
    .skill-drawing-title #{resume.drawing.title}
  .skill-drawing-content
    each content in resume.drawing.content
      a.skill-drawing-link(href=content.link, target="_blank", alt="Drawing picture not showing")
        img.skill-drawing-image(src=content.url)
    
