
.myresume
  .myresume-wrapper
    .myresume-title #{resume.myresume.title}
    .myresume-underline #{resume.about.underline}
    each component in resume.myresume.component
      .myresume-component 
        .myresume-component-title #{component.title}
        if component.type === 'card'
          .myresume-card-wrapper
            each card, key in component.card
              .myresume-card
                .myresume-card-top
                  label(for=`card-title-${key}`) 
                    p.myresume-card-title #{card.jobTitle}
                    .myresume-card-arrow
                input.myresume-card-checkbox(type="checkbox", name="card-title", id=`card-title-${key}` checked)
                .myresume-card-body
                  .myresume-card-company #{card.company}
                  .myresume-card-date #{card.date}
                  each responsabilityItem in card.responsability
                    .myresume-card-responsability #{responsabilityItem}
        if component.type === 'list'
          .myresume-list-wrapper
            each list in component.list
              .myresume-list
                .myresume-list-title #{list.title}
                .myresume-list-date #{list.date}
    .myresume-download-wrapper
      a.myresume-download(href=resume.myresume.url)
        span.myresume-download-text #{resume.myresume.text}
        span.myresume-download-icon(class=`new-cv-icon-${resume.myresume.icon}`)
          
