.contact-social
  .contact-social-title #{resume.about.social.title}
.contact-social-body
  each content in resume.about.social.content
    a.contact-social-link(href=content.link, target="_blank")
      .contact-social-icon(class=`new-cv-icon-${content.icon}`)
 
#contact
.contact-details
  .contact-details-title #{resume.about.contact.title}
.contact-details-body  
  each content in resume.about.contact.content
    .contact-details-icon(class=`new-cv-icon-${content.icon}`) 
      span.contact-details-data #{content.data}
