#contact

.contact-social
  .contact-social-title #{resume.about.social.title}
  each content in resume.about.social.content
    span.contact-social-icon(class=`new-cv-icon-${content.icon}`)
      .contact-social-item #{content.item}
 
.contact-wrapper
  .contact-title #{resume.about.contact.title}
  each content in resume.about.contact.content
    .contact-left
      span.contact-icon(class=`new-cv-icon-${content.icon}`)
    .contact-right
      .contact-data #{content.data}
