#contact
input.more-box(type="checkbox", name="more-box", id="more-box" checked) 
.about-details-hobbies-wrapper
  .about-details
    .about-details-title #{resume.about.details.title}
    each content in resume.about.details.content
      .div-left
        span.about-details-icon(class=`new-cv-icon-${content.icon}`)
      .div-right
        .about-details-data #{content.data}
  .about-hobbies
    .about-hobbies-title #{resume.about.hobbies.title}
    each content in resume.about.hobbies.content
      span.about-hobbies-icon(class=`new-cv-icon-${content.icon}`)
        .about-hobbies-item #{content.item}
